html{
  height: 100%;
}
body {
  min-height: 100%;
}
.background {
  background-color: blue;
}

p {
  color:yellow;
}

h1 {
  font-size: 6rem;
}
h3 {
  font-size: 4rem;
}

hr {
  border-color: yellow;
  border-width: 2px;
}
